* {
  box-sizing: border-box;
  font-family: "times new roman";
  font-size: 100%;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 175%;
}

.row {
  width: 100%;
}

.section {
  width: 100%;
  border: 1px solid black;
  background-color: #D0E0F0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border: 1px solid black;
  width: 130px;
  text-align: center;
  font-size: 125%;
}
.text-yellow {
  background-color: yellow;
  color: #BE0000;
  position: absolute; 
  right: 0px;
  top: 0px;
}

.text-coral {
  background-color: #FF7F50;
  color: #FFFFFF;
  position: absolute; 
  right: 0px;
  top: 0px;
}

.text-white {
  background-color: #FAEBD7;
  color: #605B5A;
  font-family: verdana;
  position: absolute; 
  right: 0px;
  top: 0px;
}

p {
  width: 100%;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  color: black;
  padding: 20px 15px 0px 15px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    position: relative;
    padding: 0% 1% 2% 1%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    position: relative;
    padding: 0% 1% 2% 1%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
    padding-top: 
  }
}

@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    position: relative;
    padding: 0% 1% 2% 1%;
  }
  .col-sm-12 {
    width: 100%;
  }
}